<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>(〃＞皿＜)工作室</title>
  <meta name="description" content="人无序，大道无常，我们就是(〃＞皿＜)工作室!">
  <meta name="author" content="Yang Guang">

  <!-- 外部Css -->
  <link rel="stylesheet" href="/static/css/bootstrap.css"/>

  <!-- 外部JS -->
  <script src="/static/js/jQuery.js"></script>  
  <script src="/static/js/bootstrap.min.js"></script>

</head>
<body>
  <p>hello world</p>
</body>
</html>