<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
		<link rel="stylesheet" href="/static/css/bootstrap.css"/>
      	<body>
      		<div class="jumbotron">
        		<h1>闪电工作室</h1>
        		<p>充满创新和用于实践，移动端的急先锋！</p>
        		<p><a class="btn btn-primary btn-lg" role = "button">联系我们</a></p>
        	</div>
 			{% block content %}
      			{% for member in members %}
      			    <div class="col-xs-4">
        				<h2 class="page-header">{{  member.name }}</h1>
        				<p>擅长:{{member.master}}</p>
        			</div>
      			{% endfor %}
  			{% endblock %}
     	</body>
</html>