<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>(〃＞皿＜)工作室</title>
  <meta name="description" content="人无序，大道无常，我们就是(〃＞皿＜)工作室!">
  <meta name="author" content="Yang Guang">
  <link rel="stylesheet" href="/static/css/bootstrap.css"/>
  <script src="/static/js/jQuery.js"></script>  
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/customJs/index.js"></script>
</head>
<body>


  <div id="body" class="mycon">
    <div class="container">
      <!-- 第一行 -->
      <div class = "row">
        <div class="col-md-12">
          <div class="jumbotron">
            <div class="row">
              <div class="col-md-8">
                <h1>(〃＞皿＜)工作室</h1>
                <h3 style="margin-top:50px;">我是要成为海贼王的男人</h3>
                <p style="margin-top:50px;"><a class="btn btn-primary btn-lg" role="button">联系我们 ^ ^</a></p>
              </div>

              <div class="col-md-4" style="margin-top:50px;">
                <img src="/static/image/stone.jpg" 
                class="img-thumbnail">
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- 第二行 -->
      <div class="row" style="margin-top:10px;">
        <div class="col-md-1">
          <img src="/static/image/left.png" class="img-circle img-thumbnail" id = "img1">
        </div>

        <div class="col-md-5">
          <div class="row">
              <div class="col-md-6" style="text-align:center;">
                <img src="/static/image/stone.jpg" class="img-circle img-thumbnail" style="width:60%">
              </div>
              <div class="col-md-6">
                <h3>杨光</h3>
                <p>Master：移动开发、游戏开发</p>
                <p>座右铭：做一个可爱可敬的人</p>
              </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-12" style="text-align:center;">
              <div class="btn-group" >
                <button type="button" class="btn btn-default">微博</button>
                <button type="button" class="btn btn-default">Blog</button>
                <button type="button" class="btn btn-default">GitHub</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="row">
              <div class="col-md-6" style="text-align:center;">
                <img src="/static/image/stone.jpg" class="img-circle img-thumbnail" style="width:60%">
              </div>
              <div class="col-md-6">
                <h3>徐雅婷</h3>
                <p>Master：UI设计、交互设计</p>
                <p>座右铭：吃饱了就犯困</p>
              </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-12" style="text-align:center;">
              <div class="btn-group" >
                <button type="button" class="btn btn-default">微博</button>
                <button type="button" class="btn btn-default">Blog</button>
                <button type="button" class="btn btn-default">GitHub</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-1" style="text-align:center;">
          <img src="/static/image/right.png" class="img-circle img-thumbnail">
        </div>
      </div>
      <!-- 第三行 -->
      <div class="row">

      </div>
    </div>
  </body>
  </html>

